In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [31]:
target = df.Survived

In [32]:
inputs = df.drop(['Survived'] ,axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [33]:
#inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [34]:
dummies = pd.get_dummies(inputs.Sex, dtype=int)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [35]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [ ]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [37]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [38]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [41]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean()).astype(int)
inputs.head(10)

   Pclass  Age     Fare  female
0       3   22   7.2500       0
1       1   38  71.2833       1
2       3   26   7.9250       1
3       1   35  53.1000       1
4       3   35   8.0500       0
5       3   29   8.4583       0
6       1   54  51.8625       0
7       3    2  21.0750       0
8       3   27  11.1333       1
9       2   14  30.0708       1

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.25)

In [43]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [44]:
model.fit(X_train,y_train)

GaussianNB()

In [45]:
X_test[0:10]

     Pclass  Age     Fare  female
711       1   29  26.5500       0
644       3    0  19.2583       1
274       3   29   7.7500       1
338       3   45   8.0500       0
453       1   49  89.1042       0
100       3   28   7.8958       1
827       2    1  37.0042       0
884       3   25   7.0500       0
62        1   45  83.4750       0
607       1   27  30.5000       0

In [46]:
y_test[0:10]

711    0
644    1
274    1
338    1
453    1
100    0
827    1
884    0
62     0
607    1
Name: Survived, dtype: int64

In [47]:
model.predict(X_test[:10])

array([0, 1, 1, 0, 1, 1, 0, 0, 1, 0])

In [48]:
model.score(X_test,y_test)

0.7713004484304933

In [49]:
model.predict_proba(X_test[:10])

array([[0.78429987, 0.21570013],
       [0.31337227, 0.68662773],
       [0.44120353, 0.55879647],
       [0.97139353, 0.02860647],
       [0.25848499, 0.74151501],
       [0.43886081, 0.56113919],
       [0.87194235, 0.12805765],
       [0.96744569, 0.03255431],
       [0.33537154, 0.66462846],
       [0.77243552, 0.22756448]])

In [51]:
from sklearn .model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.7761194 , 0.79850746, 0.75373134, 0.78195489, 0.78947368])